<!doctype html>
<html>
<head>
    <title>Post-Experiment Questionnaire</title>
    <style>
    table, td, th {
        padding:5,
        border-spacing: 5;
    }
    </style>
</head>
<body class="consent"><script type="text/javascript">
  keydownfun = function() {}; // Should unbind keys.

  error_message = "<h1>Oops!</h1><p>Something went wrong submitting your HIT. This might happen if you lose your internet connection. Press the button to resubmit.</p><button id='resubmit'>Resubmit</button>";

  record_responses = function() {

        // psiTurk.recordTrialData({'phase':'postquestionnaire', 'status':'submit'});

        $('textarea').each( function(i, val) {
            psiTurk.recordUnstructuredData(this.id, this.value);
        });
        $('select').each( function(i, val) {
            psiTurk.recordUnstructuredData(this.id, this.value);        
        });

    };

    prompt_resubmit = function() {
        replaceBody(error_message);
        $("#resubmit").click(resubmit);
    };

    resubmit = function() {
        replaceBody("<h1>Trying to resubmit...</h1>");
        reprompt = setTimeout(prompt_resubmit, 10000);
        
        psiTurk.saveData({
            success: function() {
                psiTurk.showPage('debriefing.html');
 //               clearInterval(reprompt);                
 //               psiTurk.computeBonus('compute_bonus', function(){finish()}); 
}, 
error: prompt_resubmit
});
    };

    // Load the questionnaire snippet 
    // psiTurk.showPage('postquestionnaire.html');
    // psiTurk.recordTrialData({'phase':'postquestionnaire', 'status':'begin'});
    
    $("#next").click(function () {       
        record_responses();
        psiTurk.saveData({
            success: function(){
                psiTurk.showPage('debriefing.html');
//        psiTurk.completeHIT();
//                 psiTurk.computeBonus('compute_bonus', function() { 
//                     psiTurk.completeHIT(); // when finished saving compute bonus, the quit
//                 }); 
    }, 
    error: prompt_resubmit});
    }); 


    </script>

    <div id="container-questionnaire">
        <h1>Task Complete</h1>

        <hr>

        <p>You are finished!  Thank you for your contribution to science. You will be eligible for full payment once you answer the following questions.</p>

        <div class="instructions well">

            <form id="postquiz" action="debrief" method="post">

                <!-- beginning of a question -->
                <div class="row question">
                    <div class="col-md-8">
                     For statistical purposes, please select your age bracket
                 </div>
                 <div class="col-md-4">
                    <select id="age" name="age">
                        <option value="-1" selected="">(Select One)</option>
                        <option value="75">50+</option>
                        <option value="45">40 to 49</option>
                        <option value="35">30 to 39</option>
                        <option value="24">18 to 29</option>
                        <option value="0">1-17</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                 For statistical purposes, please select your gender
             </div>
             <div class="col-md-4">
                <select id="gender" name="gender">
                    <option value="-1" selected="">(Select One)</option>
                    <option value="other">Other</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </div>
        </div>
        <!-- end of a question -->

        <br>
        Can you estimate how often each combination of stimuli appeared? <br>
        Please enter the frequency of each combination as a percentage between 0% and 100%.<br>
        The four percentages should sum to 100%. 
        <br>
        <table><tr><th>Combination&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th>Frequency (0%-100%)</th></tr>
            <tr><td rowspan="4">
                <canvas id ="questionCanvas" width="150" height="200">
                <script type="text/javascript">
            r.attachToCanvas("questionCanvas"); 
            e.renderStimInstruct(e.stimuli[0], "blue", -25, -75); 
            e.renderStimInstruct(e.stimuli[1], "blue", 25, -75);
            e.renderStimInstruct(e.stimuli[0], "blue", -25, -25); 
            e.renderStimInstruct(e.stimuli[2], "blue", 25, -25);
            e.renderStimInstruct(e.stimuli[3], "blue", -25, 25); 
            e.renderStimInstruct(e.stimuli[1], "blue", 25, 25);
            e.renderStimInstruct(e.stimuli[3], "blue", -25, 75); 
            e.renderStimInstruct(e.stimuli[2], "blue", 25, 75);
            </script></canvas></td>
            <td><textarea rows="1" cols="5" name="stim01freq" id="stim01freq"></textarea></td></tr>
                    <tr><td><textarea rows="1" cols="5" name="stim02freq" id="stim02freq"></textarea></td></tr>
                        <tr><td><textarea rows="1" cols="5" name="stim31freq" id="stim31freq"></textarea></td></tr>
                            <tr><td><textarea rows="1" cols="5" name="stim32freq" id="stim32freq"></textarea></td></tr>                
                        </table>

                    <!-- beginning of a question -->
                    <p> 
                        The first stimulus in the pair can be considered as a rule to use on the second stimulus. (For example, if "A" appears first, press 4 for "X" and 8 for "Y". If "B" appears first, press 8 for "X" and 4 for "Y".) Which of the following best describes your strategy?
                        <br>
                        <select id="proactiveness" name="proactiveness">
                            <option value="proactive">I prepared the rule as soon as the first stimulus appeared</option>
                            <option value="reactive">I waited for the second stimulus to appear before thinking about the rule</option>
                            <option value="-1" selected="">(Select One)</option>
                        </select>
                    </p>
                    <!-- end of a question -->


                    <!-- beginning of a question -->
                    <p>We are also interested in how you prepared your response (which button to press).<br>
                        <select id="responsePrior" name="responsePrior">
                            <option value="onePrior">I had one default response (either 4 or 8) for all trials.</option>
                            <option value="twoPriors">I picked a different default button depending on the first stimulus (for example, 4 for "A" and 8 for "B").</option>
                            <option value="noPrior">I did not prepare a response until I had seen both stimuli.</option>
                            <option value="-1" SELECTED>(Select One)</option>
                        </select>
                    </p>
                    <!-- end of a question -->

                    <!-- beginning of a question -->
                    <p>Finally, we are interested in how you thought about the first stimulus during the delay between the first and second stimuli. 
                        <br>
                        <select id="memory" name="memory">
                            <option value="-1" SELECTED>(Select One)</option>
                            <option value="visual">I tried to keep the image of the first stimulus in my mind</option>
                            <option value="verbal">I repeated it to myself verbally</option>
                            <option value="motor">I used my fingers to put pressure on different buttons depending on which stimulus appeared first</option>
                            <option value="motor">I only thought about it once the second stimulus appeared</option>
                        </select>
                    </p>
                    <!-- end of a question -->

                    <!-- beginning of a question -->
                    <p> 
                        Did you try to combine any of the letter pairs into words to help you remember the correct response? Please specify.
                        <br>
                        <textarea rows="3" cols="80" name="words" id="words"></textarea>
                    </p>
                    <!-- end of a question -->

                    <!-- beginning of a question -->
                    <p> 
                        Were any of the letter pairs easier for you than others? Please specify.
                        <br>
                        <textarea rows="3" cols="80" name="easierPairs" id="easierPairs"></textarea>
                    </p>
                    <!-- end of a question -->

                    <br>
                    If you are not satisfied with any answers you selected above, or if you would like to tell us anything else about your strategy, please feel free to do so in this text box. Any details you provide will help us to better understand how you performed and experienced this task.<br/>
                    <textarea rows="5" cols="80" name="comments" id="comments"></textarea>

                </form>
            </div>

            <hr>

            <div class="instructionsnav">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-7">
                    </div>
                    <div class="col-xs-3">
                        <!-- onClick="javascript: psiTurk.showPage('debriefing.html');"-->
                        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                            Continue <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </body>
    </html>